$brand-color: #d50b18 !important;

@mixin line-clamp($num:2) {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical !important;
}