.csiconfont {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: middle;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;


  &.csicon-xs {
    font-size: 12px;
  }

  &.csicon-sm {
    font-size: 16px;
  }

  &.csicon-md {
    font-size: 18px;
  }

  &.csicon-lg {
    font-size: 20px;
  }

  &.csicon-xl {
    font-size: 24px;
  }

  &.csicon-1x {
    font-size: 1em;
  }

  &.csicon-2x {
    font-size: 2em;
  }

  &.csicon-3x {
    font-size: 3em;
  }

  &.csicon-4x {
    font-size: 4em;
  }

  &.csicon-5x {
    font-size: 5em;
  }

  &.csicon-6x {
    font-size: 6em;
  }

  &.csicon-7x {
    font-size: 7em;
  }

  &.csicon-8x {
    font-size: 8em;
  }

  &.csicon-9x {
    font-size: 9em;
  }

  &.csicon-10x {
    font-size: 10em;
  }
}